.parallax { 
    /* The image used */
    background-image: url("assets/images/code-parralax.jpg" );

   

    /* Set a specific height */
    height: 500px; 
   
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
.parallax2{
    /* The image used */
    background-image: url("assets/images/programming.jpg" );

   

    /* Set a specific height */
    height: 400px; 
   
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}



.box{
	
	width: 400px;
	height: 400px;
	color: white;


}

h1{
	text-align: center;
	margin-top: 80px;
	margin-bottom: 20px;
	font-family: 'Passion One', cursive;

}
iframe{
	margin-top: 20px;
	margin-bottom: 20px;
}
h3{
	margin-left: 80px;

}
p{
	margin-top: 100px;
	text-align: center;
	font-family: 'Poppins', sans-serif;

}
.donation{
	margin-top: 150px !important;
}